.divider {
  border-left: 8px solid #797EF6;
  height: 45px;
}

.divider2 {
 border-left: 8px solid #63A355;
 height: 45px;
}

.divider3 {
border-left: 8px solid #8a0606;
height: 45px;
}

.box {
  height: 45px;
  width: 320px;
  background-color: rgb(248, 249, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.box:hover {
  background-color: rgba(44, 117, 207, 0.912);
}